.clock
  #clock
    .time.years
      .value= '00'
      .label= t('clock.years')
    .time.months
      .value= '00'
      .label= t('clock.months')
    .time.days
      .value= '00'
      .label= t('clock.days')
    .time.hours
      .value= '00'
      .label= t('clock.hours')
    .time.minutes
      .value= '00'
      .label= t('clock.minutes')
    .time.seconds
      .value= '00'
      .label= t('clock.seconds')
