.clock
  #clock
    .time.years
      .value= '00'
      .label= 'Years'
    .time.months
      .value= '00'
      .label= 'Months'
    .time.days
      .value= '00'
      .label= 'Days'
    .time.hours
      .value= '00'
      .label= 'Hours'
    .time.minutes
      .value= '00'
      .label= 'Minutes'
    .time.seconds
      .value= '00'
      .label= 'Seconds'
