%header{ role: 'banner' }
  .left
    .name= t('header.name')
    .links
      = link_to root_path do
        = icon('fas', 'globe-americas')
  .center
    .avatar= image_tag 'avatar.jpg', alt: t('header.name')
  .right
    .title= t('header.travel')
